
.row__posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}

.row__poster {
    width: 100%;
    max-height: 100px;
    object-fit: contain;
    margin-right: 10px;
    transition: transform 450ms; 
}
.row__title{
    font-size: 1.7rem;
    font-weight: bold;
    color: white;
}
.row { 
    margin-left: 20px;
}
.row__posterLarge{
    max-height: 250px;
}

.row__poster::-webkit-scrollbar{
    display: none;
}

.row__poster:hover {
    transform: scale(1.08); 
}


